body
{
	background-color: #04000C;
	margin-top: 12vh;
	color: #FF882D;
}

.table-borderless > tbody > tr > td
{
    border: none;
}

.table-borderless
{
	border: 1px solid white;
}

.up
{
	font-style: normal;
	color: green;
}

.down
{
	font-style: normal;
	color: red;
}

#alert_info1, #alert_info2
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	color: red;
	background-color: black;
	text-align: center;
}

#alert_info1 h1, #alert_info2 h1
{
	font-size: 80px;
}

img
{
	position: absolute;
	right: 2vw;
	bottom: 2vh;
	height: 10vh;
}

#decompte
{
	position: absolute;
	right:  49vw;
	bottom: 2vh;
	font-size: 50px;
}